$borderColor1: #264caa;
$borderColor2: #ffc228;
$backgroundColor: #2861f6;
$gradientColor1: #330d69;
$gradientColor2: #30c9cd;
$whitebg: #ffffff;
$aboutbgcolor1: #f0f5ff;
$aboutbgcolor2: #e8efff;
$aboutbgcolor3: #bad0fc;
$aboutbgcolor4: #e1eafe;
$aboutbgalt1: linear-gradient(to bottom, #f0f5ff 50%, #e8efff 50%);
$aboutbgalt2: linear-gradient(to bottom, #e8efff 50%, #f0f5ff 50%);
$aboutbgalt3: linear-gradient(to bottom, $aboutbgcolor2 50%, $aboutbgcolor2 50%);
$backgroundColor2: #24314c;
$grayGradientColor1: #959595;
$grayGradientColor2: #646464;
$formColor1: #f4b63c;
$formColor2: #ffda7e;
$formColor3: #ffe7a9;
$formColorStroke: #ffc228;
$formBgColor: #d78e00;
$conferenceColor: #24314c;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}


#navbarNavDropdown {
    ul {
        li {
            a:link {
                text-decoration: none;
                transform: 1s;
            }

            a:hover {
                text-decoration: underline;
                text-underline-position: under;
                text-decoration-thickness: 2px;
            }
        }
    }
}


.header-bg {
    background-color: $backgroundColor;
    border-bottom: 10px solid $borderColor1;
    
    .hoverable_wrap:hover {
        
        .hoverable-news-and-updates {
            visibility: visible;
            top: 2.3rem;
            opacity: 1;
        }

        .hoverable-conferences {
            visibility: visible;
            top: 2.3rem;
            opacity: 1;
        }

        .hoverable-about-us {
            visibility: visible;
            top: 2.3rem;
            opacity: 1;
        }

    } 

    .hoverable_wrap {
        position: relative; 
        ul {
            li {
                list-style-type: none;
            }
        }

        .hoverable-news-and-updates {
            position: absolute;
            z-index: 10;
            top: 5rem;
            background-color: #ffffff;
            width: 20rem;
            overflow-x: hidden;
            visibility: hidden;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 2px;
            opacity: 1;
            transition: top 0.3s, opacity 0.3s;
        }
    
        .hoverable-conferences{
            position: absolute;
            z-index: 10;
            top: 5rem;
            background-color: #ffffff;
            width: 20rem;
            overflow-x: hidden;
            visibility: visible;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 2px;
            opacity: 0;
            transition: top 0.3s, opacity 0.3s;
        }
    
        .hoverable-about-us {
            position: absolute;
            z-index: 10;
            top: 5rem;
            right: 0;
            width: 50rem;
            background-color: #ffffff;
            overflow-x: hidden;
            visibility: hidden;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 2px;
            opacity: 0;
            transition: top 0.3s, opacity 0.3s;
        }
    }

    
}

.logo-bg {
    background-image: url("../assets/homepage/header-logobg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pageCarousel {
    border-bottom: 10px solid $borderColor1;
}

ul.social-media {
    li {
        img {
            width: 20px;
            display: inline;
        }
    }
}

.latest-news-and-events {
    .news-and-events-container {
        border: 5px solid $borderColor1;
        padding: 5px;

        .row {
            border: 5px solid $borderColor2;
            padding: 5px;
            margin: 5px 0px;
        }
    }

    h3 {
        color: $borderColor1;
    }
}

.recent-events {
    background-image: linear-gradient(165deg, $gradientColor1, $gradientColor2);
}

//???

.section-1 {
    background-image: linear-gradient(140deg, $grayGradientColor2, $grayGradientColor1);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay-logo {
    opacity: 0.5;
    position: absolute;
    margin-left: -243px;
}

.divider1 {
    justify-content: space-between;
}

.news-button {
    color: #fff;
    background-color: #646464;
    border-color: #0d6efd;
    border-radius: 40px;
}

.events-button {
    color: #fff;
    background-color: #646464;
    border-color: #0d6efd;
    border-radius: 40px;
}

.carousel-caption {
    position: absolute;
    bottom: 200;

    button {
        color: $borderColor1;
    }
}

.carousel-item {
    background: rgba($color: #000000, $alpha: 1);
}

.carousel-indicators {
    position: absolute;
    bottom: 100;
}

.section-right {
    font-size: 10px;
}

//// About Us - Start

.aboutTitle {
    background: $aboutbgcolor1;
}

.missionTitleBg {
    background-color: $aboutbgcolor3;
}

.missionBg {
    background-color: $aboutbgcolor2;
}

.visionTitleBg {
    background-color: $aboutbgcolor3;
}

.visionBg {
    background-color: $aboutbgcolor1;
}

.seperatorBg1 {
    background: $aboutbgalt1;
}

.seperatorBg2 {
    background: $aboutbgalt2;
}

// UNWPA Board Members

.members_seperatorbg1 {
    background: $aboutbgalt1;
    align-items: center;
}

.membersContainer {
    background-color: $aboutbgcolor2;
    height: auto;
    width: 90%;
    margin-bottom: 5rem;
}

.memberCard0 {
    background: $whitebg;
    margin-top: 2rem;
    height: 10rem;
    border-style: 1px solid;
    box-shadow: 1px 1px 1px 1px #bdbdbd;
}

.memberRow {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}

.memberCard1 {
    background: $whitebg;
    margin-top: 2rem;
    height: 15rem !important;
    width: 15rem !important;
    border-style: 1px solid;
    box-shadow: 1px 1px 1px 1px #bdbdbd;
}

.memberDesc0 p {
    padding-bottom: 0rem !important;
    margin-bottom: 0rem !important;
}

.memberName {
    margin-top: 0.5rem;
    padding-bottom: 0rem !important;
}

.memberPos {
    margin-top: 0rem !important;
    margin-bottom: 2rem;
}

.memberDesc0 {
    margin-left: 2rem;
    font-weight: bold;
}

.memberName2 {
    font-weight: bold;
    padding-bottom: 0rem !important;
    padding-top: 0.5rem;
}

.memberPos2 {
    font-weight: bold;
    padding-bottom: 0rem !important;
}

.memberImage3 {
    padding-left: 1rem;
}

.memberTitle {
    margin-top: 8rem;
}

.membersTitleBg {
    background-color: $aboutbgcolor3;
}

.bg-primary-cardbackground {
    background-color: $backgroundColor2;
}

.border-warning-circle {
    border-color: #ffc228;
    border-width: 10px;
}

//Partnership Portal

.pPortal_seperatorbg1 {
    background: $aboutbgalt3;
    background: $aboutbgalt3;
}

.pPortalTitleContainer {
    background: $whitebg;
}

.pPortalTitle {
    background: $whitebg;
    margin-top: 8rem;
}

.pPortalTitleBg {
    background-color: $aboutbgcolor3;
}

.partnershipsBD {
    background-color: $whitebg;
}

.partnershipsContainer1 {
    background: $aboutbgcolor2;
    margin-right: 80px;
    margin-left: 80px;
}

.partnershipsContainer2 {
    display: inline;
}

.partnerImg {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.partner_disp {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.description_1 {
    padding-top: 50px !important;
}

.image-fluid {
    width: 65% !important;
}

.partnerDescription {
    font-size: 500px;
}

.unicef {
    height: 92%;
    margin-top: 10px;
}


//About Us - Non Profit Org

.nonProfTitleContainer {
    margin: 0%;
}

.nonProfTitle {
    margin-top: 0rem;
}

.chapter1_BG {
    background-color: $aboutbgcolor3;
}

.chapter1_BG2 {
    background-color: $aboutbgcolor4;
}

//About Us - Partners

.partnersTitleContainer {
    background-color: $aboutbgcolor1;
}

.partnersTitle {
    position: relative;
}

.hearthands {
    height: auto;
    width: 50rem;
}

.overlayTitle {
    position: absolute;
    justify-content: center;
    color: black;
    bottom: 15rem;
}

.partnersCard {
    background-color: $aboutbgcolor2;
    border-color: $aboutbgcolor2;
}

.partnersImg1 {
    height: 310px;
    width: 20rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.partnersImg2 {
    height: 310px;
    width: 20rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

//About us - What we do

.wwdText h4 {
    margin-left: 5rem;
}

.wwdDescBg {
    background: $aboutbgcolor1;
}

.wwdPurposeBg {
    background: $aboutbgcolor2;
}

/////////// About Us END

.paya-hero {
    >.row:first-child {
        >div:first-child {
            background-image: url("../assets/about us/bg-paya1.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: -10rem 0rem;
        }
    }

}

.activities-post {
    position: relative;
    height: 15vh;
    img {
        position: absolute;
        z-index: -1;
    }

    div {
        height: inherit;
        p {
            font-size: 10px;
            color: #fff;
            border-left: 3px solid #F4B63C;
        }
    }

    
}

.advocacy-list {
    list-style-type: none;
}

ul.advocacy-list li::before {
    background-color: #000;
    content: '00';
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 5px;
}

.paya-hero1 {
    >.row:first-child {
        >div:last-child {
            background-image: url("../assets/about us/bg-paya2.png");
            background-size: 40rem 40rem;
            background-repeat: no-repeat;
            background-position: 5rem 0rem;
        }
    }

    .container {
        h3 {
            font-weight: 400;
            text-align: justify;
        }
    }

    >.row:last-child {
        background-image: url("../assets/about us/bg-paya1.png");
        background-repeat: no-repeat;
        background-size: 25rem 25rem;
        background-position: -10rem 10rem;

        h3 {
            text-align: justify;
            font-weight: 400;
        }
    }
}

.save-box {
    
    background-color: #E8EFFF;
    box-shadow: 0px 4px 5px;

}

.paya-hero3 {
    background-image: url('../assets/about us/bg-paya3.png');
    background-size: 30rem 33rem;
    background-repeat: no-repeat;
    background-position: 0rem 10rem;
    height: 100vh !important;
}

.paya-justify {
    p {
        text-align: justify;
    }
}

.desktop-view {
    display: block;
}

.mobile-and-tablet-view {
    display: none;
}

// Media Queries for Tablet
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    // About Us - Portal Access
    .pPortalTitleContainer {
        background: #000;

        >div.row:first-child {
            >div {
                img {
                    width: 50% !important;
                }
            }
        }
    }

    .overlay {
        padding: 2rem !important;
        margin: 0 !important;

        >div {
            >div:first-child {
                p:first-child {
                    margin: 0px !important;
                    margin-top: 3rem !important;
                }
            }
        }
    }

    .left-element-with-background-image {
        height: 100vh;

        h1 {
            padding: 0 !important;
            margin: 0 !important;
            font-weight: lighter;
            margin-top: 2rem !important;
        }
    }

    .form-registration {
        >div {
            width: 75% !important;
        }
    }

    .header-bg {
        color: #000;

        .logo-bg {
            width: 85%;
        }

        .row {
            position: relative;
        }

        .header-menu {
            position: absolute;
            right: 0;
            bottom: 20;

            nav {
                .navbar-toggler {
                    color: transparent;
                    border-color: transparent;
                }

                #menuIcon {
                    background-image: url("../assets/burger.png");
                    height: 50px;
                    width: 50px;
                    background-size: 50px;
                }
            }
        }
    }

    .btop {
        position: relative;
        top: 0;
        border-bottom: 15px solid $borderColor1;

        p {
            background-color: $borderColor1;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    footer.responsive-footer {
        .logo {
            background-color: #fff;
            border-radius: 2rem;
        }
    }


    /* STRUCTURE MEMBERS PROFILE TABLET */
    .img-fluid-profile {
        height: auto !important;
        width: 233px !important;
    }

    .row-members {
        display: flex !important;
        float: left !important;
        flex-wrap: wrap;
    }

    .column {
        flex: 46% !important;
        margin-bottom: 30px !important;
        float: left !important;
        flex-direction: column !important;
    }

    * {
        box-sizing: border-box !important;
    }
}

// Media Queries for Mobile
@media screen and (min-width: 320px) and (max-width: 767px) {

    // About Us - Portal Access
    .pPortalTitleContainer {
        background: red;

        >div.row:first-child {
            >div {
                img {
                    width: 50% !important;
                }
            }
        }
    }

    // upcoming events stylesheet
    .overlay {
        padding: 2rem !important;
        margin: 0 !important;

        >div {
            >div:first-child {
                p:first-child {
                    margin: 0px !important;
                    margin-top: 3rem !important;
                }
            }

            >div:last-child {
                p:first-child {
                    margin: 0px !important;
                    margin-top: 2rem !important;
                    padding: 0px !important;
                    text-align: center;
                    font-size: 20px !important;
                }
            }
        }
    }

    .left-element-with-background-image {
        height: 100vh;

        h1 {
            padding: 0 !important;
            margin: 0 !important;
            margin-top: 2rem !important;
            font-size: 35px !important;
            text-align: center;
        }
    }

    .form-registration {
        h1 {
            font-size: 42px;
            margin: 0px 20px 0px 20px;
        }

        h3 {
            font-size: 22px !important;
            font-weight: 400 !important;
        }

        border-radius: 15px 15px 0px 0px;
        position: relative;
        bottom: 15px;
        padding-bottom: 25px !important;
        background-color: #6b6b6b;
        box-shadow: 1px -9px 10px #6b6b6b;

        >div {
            width: 75% !important;
        }

        .form-input {
            input {
                background-color: #6b6b6b;
                font-weight: lighter;
            }
        }
    }

    // Header stylesheet
    .header-bg {
        color: #000;

        .logo-bg {
            width: 100%;
        }

        .row {
            position: relative;
        }

        .header-menu {
            position: absolute;
            right: -20;
            bottom: 40;

            nav {
                span {
                    font-size: 15px !important;
                }

                .navbar-toggler {
                    width: 50%;
                    color: transparent;
                    border-color: transparent;
                }

                #menuIcon {
                    background-image: url("../assets/burger.png");
                    height: 25px;
                    width: 25px;
                    background-size: 25px;
                }
            }
        }
    }

    .btop {
        position: relative;
        top: 0;
        border-bottom: 15px solid $borderColor1;

        p {
            background-color: $borderColor1;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    footer.responsive-footer {
        .logo {
            background-color: #fff;
            border-radius: 2rem;
            width: 50% !important;
        }

        .parent-logo {
            display: flex;
            justify-content: center;
        }

        .parent-text {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .unwpa-text {
            font-size: 18px !important;
            line-height: 20px;
        }

        .unwpa-info-text {
            font-size: 22px !important;
        }
    }

    footer.footer1 {
        display: none;
    }
}

//About Us - Non Profit Org

.nonProfTitleContainer {
    margin: 0%;
}

.nonProfTitle {
    margin-top: 0rem;
}

.chapter1_BG {
    background-color: $aboutbgcolor3;
}

.chapter1_BG2 {
    background-color: $aboutbgcolor4;
}

//About Us - Partners

.partnersTitleContainer {
    background-color: $aboutbgcolor1;

}

.partnersTitle {
    position: relative;
}

.hearthands {
    height: auto;
    width: 50rem;
}

.overlayTitle {
    position: absolute;
    justify-content: center;
    color: black;
    bottom: 15rem;
}

.partnersCard {
    background-color: $aboutbgcolor2;
    border-color: $aboutbgcolor2;
}

.partnersImg1 {
    height: 310px;
    width: 20rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.partnersImg2 {
    height: 310px;
    width: 20rem;
    margin-bottom: 1rem;
    margin-left: 3rem;

}


/* START OF STRUCTURE MEMBERS CSS */
.bg-primary-cardbackground {
    background-color: #24314C;
}

.border-warning-circle {
    border-color: #ffc228;
    border-width: 10px;
}

.img-fluid-profile {
    height: auto;
    width: 59%;
}

.img-fluid-profile-more {
    height: auto;
    width: 65%;
}

.img-size {
    width: 50%;
    height: auto;
    margin-top: 20px;
}

.parallelogram {
    width: max-content;
    transform: skew(-39deg);
    background-color: #264caa;
    text-align: center;
    /* margin-left: 86px; */
    margin-top: -23px;
    height: 22px;
}

.parallelogram-members {
    width: max-content;
    transform: skew(-39deg);
    background-color: #264caa;
    text-align: center;
    margin-top: -23px;
    height: 22px;
}

.text-white-fusao {
    transform: skew(38deg);
    margin-left: 4px;
}

.text-white-ayaka {
    transform: skew(38deg);
}

.vr {
    margin-right: 3px;
    width: 3px;
    transform: skew(38deg);
    background-color: #FFC228;
    opacity: unset;
    height: fit-content;
    display: inline-block;
}

.bkgnd {
    background-color: #24314C;
}

.size {
    border-radius: 0.25rem !important;
}

/* END OF STRUCTURE MEMBERS CSS */