

$borderColor1: #264caa;
$borderColor2: #ffc228;
$backgroundColor: #2861F6;
$gradientColor1: #330d69;
$gradientColor2: #30c9cd;
$whitebg: #FFFFFF;
$aboutbgcolor1: #F0F5FF;
$aboutbgcolor2:#E8EFFF;
$aboutbgcolor3: #BAD0FC;
$aboutbgcolor4: #E1EAFE;
$aboutbgalt1: linear-gradient(to bottom, #F0F5FF 50%,  #E8EFFF 50%);
$aboutbgalt2: linear-gradient(to bottom, #E8EFFF 50%, #F0F5FF 50%);
$aboutbgalt3: linear-gradient(to bottom, $aboutbgcolor2 50%,  $aboutbgcolor2 50%);
$backgroundColor2: #24314C;
$grayGradientColor1: #959595;
$grayGradientColor2: #646464;
$formColor1: #F4B63C;
$formColor2: #FFDA7E;
$formColor3: #FFE7A9;
$formColorStroke: #FFC228;
$formBgColor: #D78E00;
$conferenceColor: #24314C;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}



#navbarNavDropdown {
    ul {
        li {
            a:link {
                text-decoration: none;
                transform: 1s;
            }

            a:hover {
                text-decoration: underline;
                text-underline-position: under;
                text-decoration-thickness: 2px;
            }
        }
    }
}


.body{
    font-family: 'Poppins';
}


.header-bg {
    background-color: $backgroundColor;
    border-bottom: 10px solid $borderColor1;
    
    .hoverable_wrap:hover {
        
        .hoverable-news-and-updates {
            visibility: visible;
            top: 2.3rem;
            opacity: 1;
        }

        .hoverable-conferences {
            visibility: visible;
            top: 2.3rem;
            opacity: 1;
        }

        .hoverable-about-us {
            visibility: visible;
            top: 2.3rem;
            opacity: 1;
        }

    } 

    .hoverable_wrap {
        position: relative; 
        ul {
            li {
                list-style-type: none;
            }
        }

        .hoverable-news-and-updates {
            position: absolute;
            z-index: 10;
            top: 5rem;
            background-color: #ffffff;
            width: 20rem;
            overflow-x: hidden;
            visibility: hidden;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 2px;
            opacity: 1;
            transition: top 0.3s, opacity 0.3s;
        }
    
        .hoverable-conferences{
            position: absolute;
            z-index: 10;
            top: 5rem;
            background-color: #ffffff;
            width: 20rem;
            overflow-x: hidden;
            visibility: visible;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 2px;
            opacity: 0;
            transition: top 0.3s, opacity 0.3s;
        }
    
        .hoverable-about-us {
            position: absolute;
            z-index: 10;
            top: 5rem;
            right: 0;
            width: 50rem;
            background-color: #ffffff;
            overflow-x: hidden;
            visibility: hidden;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 2px;
            opacity: 0;
            transition: top 0.3s, opacity 0.3s;
        }
    }

}

@keyframes logoSlide {
    from {left: -30rem}
    to {left: 0rem}
}

.logo-bg {
    background-image: url('../assets/homepage/header-logobg.png');
    background-size: 100% 100%;
    position: relative;
    background-repeat: no-repeat;
    animation: 1.8s ease-out 0s 1 logoSlide;
}

.pageCarousel {
    border-bottom: 10px solid $borderColor1;
}

ul.social-media {
    li {
        img {
            width: 20px;
            display: inline;
        }
    }
}



.left-element-with-background-image {
    position: relative;
   background-image: url("../assets/upcoming-events/CONFERENCE.jpg");
   background-size: cover;
   width: 100%;
   height: 90vh;
}

.overlay {
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.left-color-overlay {
   background-image: linear-gradient(269deg, #24314C, #24314c85);
}

.right-bg {
    background-color: #24314C;
}

.form-registration {
    h1 {
        color: $formColor1;
    }

    h3 {
        color: $formColor2;
    }
}


.form-input {
    input {
        background-color: #24314C;
        border: 1px solid $formColorStroke;
    }

    input::placeholder {
        color:$formColor3;
    }

    button {
        background-color: $formBgColor;
        border: none;
    }
}


// Media Queries for Tablet 
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    // About Us - Portal Access
    .pPortalTitleContainer{
        background: #000;

        > div.row:first-child {
            > div {
                img {
                    width: 50% !important;
                }
            }
        }
    }

    

// Media Queries for Tablet 
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .overlay {
        padding: 2rem !important;
        margin: 0 !important;

        > div {
            > div:first-child {
                p:first-child {
                    margin: 0px !important;    
                    margin-top: 3rem !important;    
                }
            }
        }
    }

    .left-element-with-background-image {
        height: 100vh;

        h1 {
            padding: 0 !important;
            margin: 0 !important;   
            font-weight: lighter;
            margin-top: 2rem !important; 
        }
    }

    .form-registration {    
        > div {
                width: 75% !important;
            }
    }

}

          // Header stylesheet
    .header-bg {
        color: #000;

        .logo-bg {
            width: 100%;
        }

        .row {
            position: relative;
        }

        .header-menu {
            position: absolute;
            right: -20;
            bottom: 40;

            nav {
                span {
                    font-size: 15px!important;
                }

                .navbar-toggler {
                    width: 50%;
                    color: transparent;
                    border-color: transparent;
                }

                #menuIcon {
                    background-image: url('../assets/burger.png');
                    height: 25px;
                    width: 25px;
                    background-size: 25px;
                }
            }
        }
    }

    .btop {
        position: relative;
        top: 0;
        border-bottom: 15px solid $borderColor1;
        p {
            background-color: $borderColor1;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    footer.responsive-footer {
        .logo {
            background-color: #fff;
            border-radius: 2rem;
        }
    }
}

// Media Queries for Mobile
@media screen and (min-width: 320px) and (max-width: 767px) {

    // upcoming events stylesheet
    .overlay {
        padding: 2rem !important;
        margin: 0 !important;

        > div {

            > div:first-child {
                p:first-child {
                    margin: 0px !important;    
                    margin-top: 3rem !important;    
                }
            }

             > div:last-child {
                p:first-child {
                    margin: 0px !important;    
                    margin-top: 2rem !important; 
                    padding: 0px !important;
                    text-align: center;   
                    font-size: 20px !important;
                }
            }
        }
    }

    .left-element-with-background-image {
        height: 100vh;

        h1 {
            padding: 0 !important;
            margin: 0 !important;   
            margin-top: 2rem !important; 
            font-size: 35px !important;
            text-align: center;
        }
    }

    .form-registration {    

        h1 {
            font-size: 42px;    
            margin: 0px 20px 0px 20px;
        }

        h3 {
            font-size: 22px !important;
            font-weight: 400 !important;    
        }

        border-radius: 15px 15px 0px 0px;
        position: relative;
        bottom: 15px;
        padding-bottom: 25px !important;
        background-color: #6B6B6B;
        box-shadow: 1px -9px 10px #6b6b6b;
        > div {
                width: 75% !important;
            }

        .form-input {
                input {
                    background-color: #6B6B6B; 
                    font-weight: lighter;
                }
            }
    }

}


        // Header stylesheet
    .header-bg {
        color: #000;

        .logo-bg {
            width: 100%;
        }

        .row {
            position: relative;
        }

        .header-menu {
            position: absolute;
            right: -20;
            bottom: 40;

            nav {
                span {
                    font-size: 15px!important;
                }

                .navbar-toggler {
                    width: 50%;
                    color: transparent;
                    border-color: transparent;
                }

                #menuIcon {
                    background-image: url('../assets/burger.png');
                    height: 25px;
                    width: 25px;
                    background-size: 25px;
                }
            }
        }
    }

    .btop {
        position: relative;
        top: 0;
        border-bottom: 15px solid $borderColor1;
        p {
            background-color: $borderColor1;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    footer.responsive-footer {
        .logo {
            background-color: #fff;
            border-radius: 2rem;
            width: 50% !important;
        }

        .parent-logo {
            display: flex;
            justify-content: center;
        }

        .parent-text {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .unwpa-text {
            font-size: 18px !important;
            line-height: 20px;
        }

        .unwpa-info-text {
            font-size: 22px !important;
        }
    }

    footer.footer1
    {
        display: none;

    }
